{
    "presets": [
        ["@babel/preset-env", {
            "loose": false,
            "modules": "commonjs",
            "spec": true,
            "targets": {
                "browsers": [
                    "last 3 Chrome versions",
                    "last 3 Firefox versions",
                    "Safari >= 10",
                    "Explorer >= 11",
                    "Edge >= 12",
                    "iOS >= 10",
                    "Android >= 6"
                ]
            },
            "useBuiltIns": "usage",
            "corejs": 3,
            "debug": false
        }]
    ],
    "plugins": [
        "dynamic-import-node",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-runtime",
        "transform-vue-jsx",
        "babel-plugin-syntax-jsx"
    ],
    "comments": false
}
