@import "color/colors";
@import "./common_size";

// Color
@primary-color          : #2d8cf0;
@info-color             : #2db7f5;
@success-color          : #19be6b;
@processing-color       : @primary-color;
@warning-color          : #ff9900;
@error-color            : #ed4014;
@normal-color           : #1a1a1a; // 深色背景
@link-color             : #2D8cF0;
@link-hover-color       : tint(@link-color, 20%);
@link-active-color      : shade(@link-color, 5%);
@selected-color         : fade(@primary-color, 90%);
@tooltip-color          : #000; // 深色前景
@subsidiary-color       : #808695;
@rate-star-color        : #f5a623;
@white: #fff;
@black: #000;

// Base
@body-background        : #1a1a1a; // 深色背景
@component-background   : #1a1a1a; // 深色背景
@font-family            : "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
@code-family            : Consolas,Menlo,Courier,monospace;
@title-color            : #fff; // 浅色前景
@text-color             : #fff; // 浅色前景
@text-color-secondary: fade(@white, 45%); // 浅色前景
@heading-color: fade(@white, 85%); // 浅色前景
@heading-color-dark: fade(@component-background, 100%); // 深色背景

// Border color
@border-color-base      : #333; // 深色边框
@border-color-split     : #444; // 深色边框

// Background color
@background-color-base        : #333; // 深色背景
@background-color-select-hover: @input-disabled-bg;
@tooltip-bg                   : rgba(255, 255, 255, .9); // 浅色背景
@head-bg                      : #1a1a1a; // 深色背景
@table-thead-bg               : #1a1a1a; // 深色背景
@table-td-stripe-bg           : #1a1a1a; // 深色背景
@table-td-hover-bg            : #333; // 深色背景
@table-td-highlight-bg        : #333; // 深色背景
@menu-dark-title              : #fff; // 浅色前景
@menu-dark-active-bg          : #444; // 深色背景
@menu-light                   : #111;
@menu-dark-subsidiary-color   : rgba(255,255,255,.7); // 浅色前景
@menu-dark-group-title-color  : rgba(255,255,255,.36); // 浅色前景
@menu-submenu-background-color: @component-background;
@date-picker-cell-hover-bg    : #444; // 深色背景

// Shadow
@shadow-color           : rgba(255, 255, 255, .2); // 浅色阴影
@shadow-base            : @shadow-down;
@shadow-card            : 0 1px 1px 0 rgba(255,255,255,.1); // 浅色阴影
@shadow-up              : 0 -1px 6px @shadow-color;
@shadow-down            : 0 1px 6px @shadow-color;
@shadow-left            : -1px 0 6px @shadow-color;
@shadow-right           : 1px 0 6px @shadow-color;

// button color
@btn-group-border       : shade(@primary-color, 5%);

@btn-disable-color      : #666; // 深色前景
@btn-disable-bg         : #1a1a1a; // 深色背景
@btn-disable-border     : #333; // 深色边框

@btn-default-color      : #fff; // 浅色前景
@btn-default-bg         : #1a1a1a; // 深色背景
@btn-default-border-color     : #333; // 深色边框
@btn-default-border : none;

@btn-primary-color      : #fff; // 浅色前景
@btn-primary-bg         : @primary-color;

@btn-ghost-color        : #fff; // 浅色前景
@btn-ghost-bg           : transparent;
@btn-ghost-border       : #fff; // 浅色边框

// Layout and Grid
@grid-columns                : 24;
@grid-gutter-width           : 0;
@layout-body-background      : #1a1a1a; // 深色背景
@layout-header-background    : #333; // 深色背景
@layout-footer-background    : @layout-body-background;
@layout-sider-background     : @layout-header-background;
@layout-trigger-color        : #fff; // 浅色前景

// Legend
@legend-color           : #999;

// Input
@input-placeholder-color     : #666; // 深色前景
@input-color                 : #fff; // 浅色前景
@input-border-color          : #333; // 深色边框
@input-bg                    : #1a1a1a; // 深色背景
@input-group-bg              : #1a1a1a; // 深色背景

@input-hover-border-color    : @primary-color;
@input-focus-border-color    : @primary-color;
@input-disabled-bg           : #333; // 深色背景

// Slider
@slider-color              : tint(@primary-color, 20%);
@slider-height             : 4px;
@slider-disabled-color     : #ccc;

// Avatar
@avatar-bg: #ccc;
@avatar-color: #000; // 深色前景
@avatar-border-radius: @border-radius-small;

// 滑块
@scroll-bar-color: #333; //滚动条颜色
@scroll-bar-background-color: #666; //滚动条滑块颜色
@scroll-bar-hover-color: #888; /* 滑块悬停颜色 */

@article-blockquote-border-color: #222;
@article-blockquote-color: #999;
@article-a-after-color: #555;
@highlight-color: rgba(255, 255, 255, 0);
@mark_background-color: #ff0;
@mark_color: @black;
@fieldset_border_color: #434343;

@checkbox-hover-border-color: #434343;
@checkbox-inner-background-color: @component-background;
@checkbox-border-color: #888;

@close-base-hover-color: #bbb;
@mask-background-color: rgba(200, 200, 200, 0.6);
@back-top-inner-background-color: rgba(255,255,255,.6);
@back-top-inner-box-shadow: rgba(255, 255, 255,.2);
@back-top-inner-hover-background-color: rgba(255, 255, 255,.7);
@card-hover-border-color: #111;
@carousel-arrow-background-color: rgba(224, 210, 194, .11);
@carousel-hover-background-color: rgba(224, 210, 194, 0.5);
@carousel-dots-li-button-background: #c6e5a;
@color-picker-circle-dot-color03: rgba(255, 255, 255, 0.3);
@color-picker-circle-dot-color04: rgba(255, 255, 255, 0.4);
@color-picker-circle-dot-color15: rgba(255, 255, 255, 0.15);
@color-picker-white0: rgba(0, 0, 0, 0);
@color-picker-black0: rgba(255, 255, 255, 0);
@color-picker-black06: rgba(255, 255, 255, 0.6);
@rgb-243: rgb(12, 12, 12);
@rgba-02: rgba(255, 255, 255, .2);
@rgb-192: rgb(63, 63, 63);
@rgb-255: rgb(0, 0, 0);
@rgba-015: rgba(255, 255, 255,.15);
@rgba-0: rgba(255, 255, 255, 0);
@radio-disabled-wrapper-checked: #191919;
@rate-star-first-color: #161616;
@rgba-255-09: rgba(0,0,0,.9);
@rgba-283656-04: rgba(227, 219, 199, 0.4);
@rgba-233561-25: rgba(222, 220, 194, 0.25);

@table-header-background-color: @component-background;
@table-td-background-color: @component-background;
@table-td-border-bottom: 2px solid @normal-color ;
@table-td-border-right: 2px solid @normal-color ;

@tag-dot-border: @border-color-split;

@card-background: @body-background;
